# Read more for looping: https://forum.ansible.com/t/iterating-over-a-list-in-a-dictionary-within-a-jinja2-template/19960
{% if role == 'master' %}
tls-san:
{% for item in k3sCluster.tlsSANs %}
  - "{{ item }}"
{% endfor %}
disable:
  - traefik
{% if not k3sCluster.loadBalancer.enable %}
  - servicelb
{% endif %}
{% endif %}
{% if k3sCluster.nodeLabels %}
# If the list label not empty
node-label:
{% for item in k3sCluster.nodeLabels %}
  - "{{ item }}"
{% endfor %}
{% endif %}
{% if k3sCluster.nodeTaints %}
# If the list nodeTaints not empty
node-taint:
{% for item in k3sCluster.nodeTaints %}
  - "{{ item }}"
{% endfor %}
{% endif %}
